.container-services {
    width: 1170px;
    margin: 0;
}

h1 {
    font-family: 'Alata';
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #F78CB6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h2 {
    font-family: 'Alata';
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
    line-height: 72px;
    color: #56597A;
    text-align: center;
    padding-top: 6px;
}

.services {
    display: flex;
    justify-content: space-between;
    padding: 58px;
    
}

div .box + .box {
    margin-left: 30px;
}

.box {
    display: inline-block;
    background: #FFF1F9;
    border-radius: 8px;
    width: 270px;
    height: 307px;
    text-align: center;
}

.material-symbols-outlined {
    color: #F78CB6;
    width: 40px;
    height: 40px;
    padding-top: 56px;
}

.box-title {
    font-family: 'Alata';
    font-style: normal;
    font-size: 34px;
    font-weight: 500;
    line-height: 72px;
    color: #56597A;
}

.box-text {
    font-family: 'Mukta';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #919299;
}

.box-link {
    font-family: 'Alata';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    visibility: hidden;
}

.box:hover {
    background-color: #F78CB6;
    cursor: pointer;
    border-radius: 8px;
    height: 344px;
}

.box:active a {
    visibility: visible;
    color: #FFFFFF;
}

.material-symbols-outlined:active, .box-title:active, .box-text:active {
    color: #FFFFFF;
}


